<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syndrome de l'imposteur</title>
    <link rel="shortcut icon" href="/img/mtv-favicon.png" type="image/x-icon">
    <!--Reset CSS-->
    <link rel="stylesheet" href="/css/reset.css">
    <!--<link rel="stylesheet" href="./css/reset.css">-->
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <div class="header_logo">
        <img src="/img/mtv-logo.png" alt="Logo Manage ta Vie">
      </div>
      <div class="header_title">
        <h1 class="header_maintitle">Le Syndrome de l'Imposteur - Test de Clance</h1>
        <h2 class="header_subtitle">Tiré et traduit à partir de « The Impostor Phenomenon: When Success Makes You Feel Like A Fake, p20-22, P.R. Clance, 185 Toronto, Bantham Books. Coyright 1985 Pauline Rose Clance, PhD, ABPP.</h2>
      </div>
    </header>
    <main>